# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/components/header/navbar.txt
src/components/footer/footer.txt
src/components/mSection/msection.txt
src/components/Product.jsx
src/components/header/temp.jsx
src/components/header/temp2.jsx